.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.image {
  padding: 20px;
  margin: 30px 0 20px 0;
  width: 25vw;
  background-color: brown;
  height: 20vw;
}